//Colors

$white: #fff;
$black: #000;
$grey: #777379;
$grey2: #212529;
$red: #da4e60;
$light-grey: #989ca3;
$blue-1: #366685;
$blue-2: #4b7190;
$blue-3: #30536b;
$blue-4: #4a708e;
$light-blue: #47bae6;

$body-bg: $white !default;
$body-color: $grey2;

//Transition

$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;

//Sizing

$padding-base-vertical: 6px;
$padding-base-horizontal: 12px;

//Font

$font-family-sans-serif: "montserratregular", Arial, Roboto, sans-serif;
$font-family-monospace: monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem !default;
$font-size-sm: ($font-size-base * .875);
$font-size-lg: ($font-size-base * 1.25);

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$headings-margin-bottom: 0, 5rem;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Links

$link-decoration: none !default;
$link-hover-decoration: underline !default;

//Buttons

$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;




