.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  //btn in page database
  &_create-new-data {
	color: #fff;
	font-size: 16px;
	height: 38px;
	width: 38px;
	border: 1px solid #dbdedf;
	border-radius: 50%;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	position: absolute;
	right: 20px;
	top: -5px;

	&:hover {
	  background-color: #0b61f4;
	  color: #fff;
	}
  }

  &_cell-editor {
	position: relative;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
  }

  //btn in page new sell
  &-form {
	width: 100%;
	background: #D9534F;

	&:hover {
	  background: #bc2e29;
	}
  }

  //colors
  &_blue {
	border-color: #4077d6;
	background: #4c8bf7;
	color: #f5f5f5;
  }
  &_green {
	color: #007700;
  }
  &_red {
	color: #ac050b;
  }

  //sizing
  &_sm {
	font-size: 10px;
	padding: 4px 10px;

  }
  &_lg {
	font-size: 18px;
	padding: 18px 44px;
	min-width: 230px;
  }
}
