.left-block {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	width: 115px;
	min-height: 100%;
	background: #1b3446;
	transition: $transition-base;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
	height: 50px;
	color: rgba(225, 246, 255, 0.3);
}

//TODO duplicate code
.nav-wrap {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	width: 115px;
	min-height: 100%;
	background: #1b3446;
	transition: $transition-base;
}

.header-wrap {
	position: fixed;
	z-index: 2000;
	width: 120px;
	left: -120px;
	top: 0;
	bottom: 0;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}




.navbar {

	&-toggle {
		background-color: transparent;
		border: 0;
		width: 50px;
		height: 50px;
		font-size: 1.5rem;
		padding: 0;
		color: $white;
		display: none;

		&:focus {
			outline: 0;
		}
	}

	&-list {
		padding: 40px 0;
	}

	&-list__item {
		margin-top: 10px;

		&_active {
			background: #1caf9a;
		}
		&:hover {
			background: #fff;
			transition: $transition-base;
		}
		&:hover &__link {
			color: #000;
		}
	}

	&-list__item__link {
		display: block;
		color: #fff;
		font-size: 16px;
		padding: 7px 10px;
	}
}


@media (max-width: 768px) {

	//add mobile menu
	.nav-wrap {
		left: -115px;
	}

	.left-block {
		min-height: 50px;
		width: 100%;
	}

	.navbar-toggle {
		display: block;
	}

}