.right-block {
  position: absolute;
  left: 115px;
  right: 0;
  min-height: 100%;
  background: #e4e7ea;
  padding-top: 30px;

}
//.right-block {
//  padding-top: 30px;
//  background: #e4e7ea;
//  min-height: 980px;
//}

.top-line {
  padding: 15px 50px;

}

.mt-15 {
  margin-top: 15px;
}
