// Contents
//
// Navbar
// etc.

//TODO need add localfont

.employees {
	&__top {
		position: relative;

	}
}

.list-head {
	display: flex;
	background-color: #fff;
	flex-direction: row;
	height: 40px;
	text-transform: uppercase;
	font-weight: 700;
	color: #8591a5;
	border-top: 1px solid #000;

	&__cell {
		border-right: 1px solid #e5e5e5;
		padding: 10px;

		//modifacators
		&_employees:first-child {
			width: 180px;
		}
		&_employees:last-child {
			width: 100%;
		}

		&_models:last-child {
			width: 100%;

		}
	}
}

.models-section {
	&__top {
		position: relative;

	}
}

.list-row {
	margin-top: 10px;

	&__item {
		display: flex;
		flex-direction: row;
		background-color: #fff;
		height: 40px;
		border-bottom: 1px solid #e5e5e5;
		position: relative;

		&:hover {
			background: #f8faff;
		}

			//modificator
			&_models {
				text-align: center;
			}

		&__cell {
			padding: 10px;
			border-right: 1px solid #e5e5e5;


			//modificator
			&_employees:first-child {
				width: 182px;
			}
			//TODO find best solution
			&_employees:nth-child(even) {
				width: 100%;
				padding: 10px;
			}

			&_models:first-child {
				width: 85px;
			}
			&_models:nth-child(2) {
				width: 110px;
			}
			&_models:nth-child(3) {
				width: 65px;
			}
			&_models:nth-child(4) {
				width: 102px;
			}
			&_models:nth-child(5) {
				width: 190px;
			}


		}


		//TODO All buttons need to place in _button.scss
		//the delete-button style
		&__delete-button {
			position: absolute;
			right: 20px;
			top: 10px;
			cursor: pointer;
			color: #bfbfbf;

			&:hover {
				color: #000;
			}

		}

		//the edit-button
		&__edit-button {
			cursor: pointer;
			position: absolute;
			color: #bfbfbf;
			right: 50px;
			top: 10px;

			&:hover {
				color: #000;
			}
		}

		//the yes and no-button style
		&__save-button,
		&__cancel-button {
			position: absolute;
			cursor: pointer;

		}

		&__save-button {
			right: 145px;
			top: 10px;
		}

		&__cancel-button {
			right: 100px;
			top: 10px;
		}

	}

	//the aadNew-button style
	&__new-item {
		padding: 0;
	}
}

//helpers
.w90 {
	width: 90px;
}

.w180 {
	width: 180px;
}

.w-flexible {
	width: 100%;
}

.disnone {
	display: none;
}