.employee {

  &__name {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
  }



  &__amount-in-day {
    height: 55px;
    position: relative;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    padding: 15px 30px;
    font-size: 20px;
    margin-bottom: 5px;

    .date,
    .value {

    }
    .value {
      margin-left: 40px;
    }

    .glyphicon-remove {
      float: right;
      font-size: 14px;
    }

    .glyphicon-remove:hover {
      opacity: .6;
    }
  }
}
.color-line {
  display: inline-block;
  height: 2px;
  width: 100%;
  vertical-align: top;


  &_red {
    background: #D9534F;
  }

  &_green {
    background: #1CAF9A;
  }

  &_blue {
    background: #428bca;
  }
  &_dark {
    background: #1d2939;
  }
}