.new-order {
	display: flex;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #cdd2d3;
	height: 175px;

	&__button {
		text-align: right;
	}

	&__date {
		position: relative;

		& .dropdown__icon {
			color: #999;
			position: absolute;
			top: 10px;
			right: 10px;

		}
	}
}

#datepicker {
	cursor: pointer;

	&:hover {
		border-color: #858c93;
	}
}

.moneys-during-week {
	background-color: #1caf9a;
	height: 175px;
	padding: 10px;

	&__title {
		margin: 0;
		padding: 10px;
		color: #fff;
		text-align: center;
	}

	&__employee {
		color: #fff;
		font-size: inherit;
	}

	&__total-sum {
		text-align: center;
		font-size: 2.25rem;
		padding: 20px 0;
		color: #fff;

	}

}

//Weekly-list

.weekly-list__column {

	&__title {
		padding: 10px 0;
		margin: 0;
		text-align: center;
	}

}

.column__days-list__item {
	background-color: #fff;
	border: 1px solid #cdd2d3;
	padding: 10px;
	cursor: pointer;

	& .item__title {
		margin: 0;
		font-size: 1.25rem;
	}

	& .item__content {
		display: none;
	}

	& .item__employee-name {
		font-weight: bold;
		font-size: inherit;
	}

	& .item__employee-model {
		font-weight: bold;
	}

	& .item__size {
		font-style: italic;
	}

}

//aaaaaaaaa
.color-line {
	display: inline-block;
	height: 2px;
	width: 100%;
	vertical-align: top;

	&_red {
		background: #D9534F;
	}

	&_green {
		background: #1CAF9A;
	}

	&_blue {
		background: #428bca;
	}
	&_dark {
		background: #1d2939;
	}
}

//helpers
.visible {
	display: block;
}

.grey-color {
	color: #bfbfbf;
}

.dark-color {
	color: #000;
}

.red-border {
	border-color: red;
}

